

<aside class="sidebar">
  <nav class="menu">
    <ul>
      <li routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">dashboard</span>
        <span>Dashboard</span>
      </li>
      <li routerLink="offres" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">work_outline</span>
        <span>Offres de stage</span>
      </li>
      <li routerLink="candidatures" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">assignment_ind</span>
        <span>Gestion de candidatures</span>
      </li>
      <li routerLink="documents" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">folder_open</span>
        <span>Gestion des documents</span>
      </li>
      <li routerLink="stages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">school</span>
        <span>Stages en cours</span>
      </li>
      <li routerLink="historique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">history</span>
        <span>Historique</span>
      </li>
      <li routerLink="profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-icons">person</span>
        <span>Profil</span>
      </li>
      <li class="sidebar-bottom" (click)="logout()">
        <span class="material-icons">logout</span>
        <span>Déconnexion</span>
      </li>
    </ul>
  </nav>
</aside>
